extends layout
block content
  h2 Index template

  script(type="text/javascript" src="/socket.io/socket.io.js")
  script(type="text/javascript" src="/javascripts/index.js")

  div(class="form-group")
    label(for="content") Content to publish on topic
    input(type="text", id="content" name="content", class="form-control" required)
  div
    button(class="btn btn-primary" onclick="sendContent()") Publish contents
